@import "tailwindcss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
width: 100%;
  height: 100%;
  display: flex;       /* or block / flex / grid — NOT inline */
  flex-direction: column;  /* Optional, for stacking header/main/footer */
  margin: 0 auto;
  text-align: center;
}

